DB_HOST=databasehost
DB_PORT=databseport
DB_USERNAME=databaseusername
DB_PASSWORD=databasepassword
DB_DATABASE=databasename
NODE_ENV=development

#For email
SMTP_HOST=somehost
SMTP_PORT=someport
SMTP_USER=someuser@whatever.com
SMTP_PASS=somepassword